<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    @Styles.Render("~/Content/bootswatch.css")
</head>
<body>
    @Html.Action("_AdminTopMenu", "Home", new { area = "" })
    <br />
    <br />
    <div class="container">
        <div class="masthead">
            <!--
            <h3 class="text-muted">@Html.ActionLink("Application Name", "Index", "Home")</h3>
            <br>
            <ul class="nav nav-justified">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Bootstrap", "bootstrap_mvc", "Home")</li>
            </ul>
            -->
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            @Html.Partial("~/Views/Shared/_AdminFooter.cshtml")
        </div>
    </div>
</body>
</html>