<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Layout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    @Styles.Render("~/Content/bootswatch.css")
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand"><img src="http://sa.jangsoobed.co.kr/gigaadminv5/images/logo.gif" class="img-thumbnail" /> Bootswatch</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a href="../default/">Default</a></li>
                            <li class="divider"></li>
                            <li><a href="../cerulean/">Cerulean</a></li>
                            <li><a href="../cosmo/">Cosmo</a></li>
                            <li><a href="../cyborg/">Cyborg</a></li>
                            <li><a href="../darkly/">Darkly</a></li>
                            <li><a href="../flatly/">Flatly</a></li>
                            <li><a href="../journal/">Journal</a></li>
                            <li><a href="../lumen/">Lumen</a></li>
                            <li><a href="../paper/">Paper</a></li>
                            <li><a href="../readable/">Readable</a></li>
                            <li><a href="../sandstone/">Sandstone</a></li>
                            <li><a href="../simplex/">Simplex</a></li>
                            <li><a href="../slate/">Slate</a></li>
                            <li><a href="../spacelab/">Spacelab</a></li>
                            <li><a href="../superhero/">Superhero</a></li>
                            <li><a href="../united/">United</a></li>
                            <li><a href="../yeti/">Yeti</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../help/">Help</a>
                    </li>
                    <li>
                        <a href="http://news.bootswatch.com">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Cerulean <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="http://jsfiddle.net/bootswatch/9y480qo5/">Open Sandbox</a></li>
                            <li class="divider"></li>
                            <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                            <li><a href="./bootstrap.css">bootstrap.css</a></li>
                            <li class="divider"></li>
                            <li><a href="./variables.less">variables.less</a></li>
                            <li><a href="./bootswatch.less">bootswatch.less</a></li>
                            <li class="divider"></li>
                            <li><a href="./_variables.scss">_variables.scss</a></li>
                            <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
                    <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
                    <li><span class="glyphicon glyphicon-search" aria-hidden="true"></span></li>
                </ul>

            </div>
        </div>
    </div><br />
    <div class="container">
        <div class="masthead">
            <!--
            <h3 class="text-muted">@Html.ActionLink("Application Name", "Index", "Home")</h3>
            <br>
            <ul class="nav nav-justified">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Bootstrap", "bootstrap_mvc", "Home")</li>
            </ul>
            -->
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; Copyright @DateTime.Now.Year JangSooBed. 모든 권리 보유.  </p>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li class="pull-right"><a href="#top">Back to top</a></li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>